//
   Created by rainx on 15/5/18.

tr(key=name)
   td= name
   td= regex
   td
      a(key=name, href="#", action="view" type=type) view
   td
      a(key=name, href="#", action="load" type=type) load
   td
      a(key=name, href="#", action="delete" type=type) delete